<h2>Редагувати переказ</h2>

<%= render 'form', transfer: @transfer %>

<%= link_to 'Переглянути', @transfer, class: 'back-link' %> |
<%= link_to 'Назад до списку', transfers_path, class: 'back-link' %>
